/* commun */
header {
  display:grid;
  grid-template-rows: 80% 20%;
}

body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  color: white;
}

header,body {
  background-image: url("imgwebp/background.webp"); 
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  background-color: black;
}

section#top nav {
  justify-self:end;
  align-self: start;
  display: grid;
  grid-template-rows: 40px auto;
  font-size: medium;
}

.barrenav {
  height: 150%;
  display:grid;
  grid-template-columns: 33% 33% 34%;
}

.barrenav a button {
  background-color:#5c4517;
  width: 100%;
  height:100%;
  border-width: 1px;
  color: white;
}

nav a button 
{
  font-size:20px;
}


#logosite img {
  width: 150px;
  height: 150px;
}


footer {
  background-color: #5c4517;
  display: grid;
  grid-template-columns: 33.33% 33.34% 33.33%;
  border-radius:10px;
}

div#Droit
{
  text-align:center;
}
div#Presentation, div#Presentation2
{
  background-color:#5c4517;
  opacity:0.8;
  border-radius:1rem;
  text-align:center;
  margin:1rem;
  padding:3px;
}

@media(max-width: 700px) {
  #largegif {
    width: 80vw;
    height: auto;
  }
  #largevid {
    width: 80vw;
    height: auto;
  }
  footer{
    text-size-adjust: auto;
    text-align: center;
  }
  section#top {
    display:grid;
    grid-template-columns: 45% 10% 45%;
  }
  header h1 {
    font-size: 30px;
    text-align: center;
  }
  section#top h1{
    grid-area: 1/3/2/4;
  }

  div#Logos{
    padding: 10px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
  }

  div#Logos a img,div#Logos a{
    align-self: center;
    justify-self: start;
    width: 100%;
    height: auto;
  }


  div#Logos2{
    padding: 10px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
  }

  div#Logos2 a img,div#Logos2 a{
    align-self: center;
    justify-self: center;
    width: 50px;
    height: 50px;
    border-radius: 25%;
  }

  section#tables{
    display:grid;
    grid-template-rows: auto auto;
    padding-bottom: 2%;
  }

  div#Client{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap:2%
  }
  td img{
    width:75%;
    height:auto;
  }
}

@media(min-width: 701px) {
  #largegif {
    width: 70ch;
    height: 90vh;
  }
  #largevid {
    width: 70ch;
    height: 90vh;
  }
  footer{
    font-size: 15px;
    text-align: center;
  }
  section#top {
    display:grid;
    grid-template-columns: 33.33% 33.33% 33.34%;
  }
  header h1 {
    font-size: 40px;
    text-align: center;
  }
  div#Logos{
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    
  }

  div#Logos a ,div#Logos a img{
    align-self: center;
    justify-self: start;
    width: 100%;
    height: auto;
  }

  div#Logos2{
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }

  div#Logos2 a ,div#Logos2 a img{
    align-self: center;
    justify-self: center;
    width: 75px;
    height: 75px;
    border-radius: 25%;
  }


  section#tables{
    display:grid;
    grid-template-columns: auto auto;
    padding-bottom: 2%;
  }

  div#Client{
    display:grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: auto;
    gap:2%
  }
}
/* fin commun */
@media only screen and (max-width: 600px) {
  footer {
    font-size: 12px; /* adjust this as needed */
  }
}
@media only screen and (max-width: 300px) {
  footer {
    font-size: 7px; /* adjust this as needed */
  }
  header h1 {
    font-size: 16px;
    text-align: right;
  }
  #logosite img {
    width: 120px;
    height: 120px;
  }
  div#Logos2 a ,div#Logos2 a img{
    align-self: center;
    justify-self: center;
    width: 25px;
    height: 25px;
    border-radius: 25%;
  }
  nav a button{
    font-size: 12px;
  }
  main{
    font-size: 12px;
  }
}
h2{
  text-align: center;
}

.navbar {
  background-color: #313236;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}


table {
  border:3px solid rgb(0, 0, 0);
  background-color: #F5F5F5;
  text-align:center;
  margin:auto;
  margin-top: 2%;
  width:75%;
}

caption {
  color:white;
  font-weight:bold;
  font-size:150%;
  font-family: sans-serif, cursive;
  margin-bottom:1rem;
}

th
  {
    border-width:2px;
    border-style:solid;
    border-color:yellow;
    color:black;
    background-color:#5c4517;
  }

td
{
  border-width:1px;
  border-style:solid;
  border-color:black;
}

.titre
  {
    font-family: sans-serif, cursive;
    text-align:center;
  }

  main .titre{
    font-size:2rem;
  }

  /*Config Diapo*/
.Boite-Diapo {
  height: fit-content;
  display: flex;
  overflow-x: scroll;
  padding: 1rem 0;
  scroll-snap-type: x mandatory;
  list-style-type:none;
}

.diapo {
    flex: 1 0 250px;
    margin-left: 1rem;
    scroll-snap-align: start;
    
}

/*Customisation de la barre scroll a droite*/
::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar {
  height: 6px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 3px;
}

/*definition de l'affichage du form*/
section#form form{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  margin:1rem;
}

div#Client{
  background-color:#5c4517;
  opacity:0,7;
  padding:10px;
  border-radius:1rem;
}
div#Client div{
  display: grid;
  grid-template-columns: 50% 50%;
}
div#Composition{
  display:grid;
  grid-template-columns: 100%;
  gap:2px;
  margin-bottom: 3px;
  background-color:#5c4517;
  opacity:0,7;
  padding:10px;
  border-radius:1rem;
}
div#Composition div{
  display: grid;
  grid-template-columns: 50% 50%;
}

fieldset{
  border-color: white;
  border-width: 3px;
}

form button
{
  margin-top: 1rem;
  padding:5px;
  border-radius:10px;
  align-self: stretch;
  justify-self: stretch;
  margin-left: 5%;
  margin-right: 5%;
  grid-area: 7/1/span 2/2;
}

form h3
{
  font-size:2rem;
}


/* Page acceuil */


li.diapo img{
  width:100%;
}


footer,a{
  color: white;
  text-decoration: none;
}